<footer class="footer navbar-fixed-bottom">
  <small>
    <a href="http://railstutorial.org/">CSDN博客</a>
    brant
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
